absl-py
aiofiles
astroid
astunparse
asyncpg
beautifulsoup4
bert-tensorflow
blis
boto
boto3
botocore
bs4
cachetools
catalogue
certifi
chardet
click
cycler
cymem
docopt
docutils
elasticsearch
emoji
filelock
Flask
Flask-Cors
fuzzywuzzy
gast
gensim
gino
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h11
h2
h5py
hpack
hstspreload
httptools
httpx
hyperframe
idna
importlib-metadata
inflect
isort
itsdangerous
jaraco.itertools
Jinja2
jmespath
joblib
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
lazy-object-proxy
Markdown
MarkupSafe
matplotlib
mccabe
# mkl-fft
# mkl-random
# mkl-service
more-itertools
multidict
murmurhash
nltk
numpy
oauthlib
opt-einsum
packaging
pandas
params
params-flow
pipreqs
plac
preshed
protobuf
py-params
pyasn1
pyasn1-modules
pylint
pyparsing
python-dateutil
python-Levenshtein
pytz
PyYAML
regex
requests
requests-oauthlib
rfc3986
rsa
s3transfer
sacremoses
sanic
Sanic-Cors
Sanic-Dispatcher
Sanic-Plugins-Framework
scikit-learn
scipy
sentencepiece
setproctitle
six
smart-open
sniffio
soupsieve
spacy
SQLAlchemy
srsly
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-hub
termcolor
textblob
thinc
threadpoolctl
tokenizers
toml
tqdm
transformers
typed-ast
ujson
urllib3
uvicorn
uvloop
wasabi
websockets
Werkzeug
wolframalpha
wrapt
xmltodict
yarg
zipp
